<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
    	<div class="login-container">
          <div id="output"></div>
          <img src="images/Scout_Logo.svg" class = "lis" >
          <!--img class="avatar"></img-->
          <div class="form-box">
              <form action="" method="">
                  <input name="user" type="text" placeholder="Nombre de usuario">
                  <input type="password" placeholder="password">
                  <div class = "register-link">
                      <a href="/register"  >Regístrate</a><br />
                  </div>
                  <button class="btn btn-info btn-block login" type="submit">Entrar</button>
              </form>
          </div>
      </div>
    </div>
  </body>
</html>
